<h1>Welcome to the {{#link-to 'index'}}Questions Forum{{/link-to}}</h1>
<br><br>
<h2>Questions:</h2>
<br>
<ul>
  {{#each model as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>
