<ul style="background-color: black; text-align: center; padding: 20px;">
  <li style="display: inline;"><a href="/" style="font-size: 200%; color: white;">Questions Forum</a></li>
</ul>
<br><br>
<h2>Questions:</h2>
<br>
<ul>
  {{#each model as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>


{{new-question saveQuestion2="saveQuestion3"}}
