<ul style="background-color: black; text-align: center; padding: 20px;">
  <li style="display: inline;"><a href="/" style="font-size: 200%; color: white;">Questions Forum</a></li>
</ul>
<br><br>
<h2>{{model.title}}</h2>
<p>by -{{model.author}}-</p>
<br>
<h2>Answers:</h2>
<ul>
  {{#each model.answers as |answer|}}
    <h4>{{answer.text}}</h4>
    <p>by -{{answer.author}}-</p>
    <br>
  {{/each}}
</ul>
